/* purgecss start ignore */
@import 'tailwindcss/base';
/* purgecss end ignore */
@import './base.css';

@import 'tailwindcss/components';
@import './components.css';

@import 'tailwindcss/utilities';
@import './utilities.css';
